#app {
    height: 100vh;
    display: flex;
    align-items: center;
}
/* bck */
.bck-green {
    background-color: green; 
}

.bck-grey {
    background-color: lightgrey;
}

.bck-white {
    background-color: white;
}

.bck-azure {
    padding: 5px;
    background-color: rgb(101, 202, 202);
}


/* colori testo */
.clr-grey {
    color: grey;
}


/* parte di sopra */
.stile-riga {
    background-color: lightgrey;
    border-right: 1px solid black;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.icon {
    color: grey;
    font-size: 22px;
    margin-left: 20px;
}

#bell {
    font-size: 30px;
    color: rgb(101, 202, 202);
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
/* lista contatti */
#contatti {
    height: calc(100% - 180px);
    overflow-y: scroll;
}
.contatti {
    border-top: 1px solid grey;
    padding: 5px 0;
    
}

.cursor:hover {
    cursor: pointer;
}

.active {
    background-color: lightgrey;
}

/* messaggi */
#messaggi {
    height: calc(100% - 70px);
    background-image: url('../img/sfondo.jpg');
    background-size: contain;
    overflow-y: scroll;
}

.style-msg {
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0;
}

#write-msg {
    width: 100%;
}

.dis-flex {
    display: flex;
    flex-direction: column;
}

.time {
    color: grey;
    font-size: 14px;
}

.messaggio {
    font-size: 20px;
}

.sent {
    background-color: green;
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;
}